*{
	box-sizing: border-box;
	margin: 0;
}
body {
	font-family: 'Nunito Sans', Helvetica, Arial, sans-serif;
	font-family: 'Yeseva One', cursive;
}
h1, h2 {
	font-family: 'Yeseva One', Helvetica, Arial, cursive;
}
.wrapper {
	width: 1440px;
	margin: 0 auto;
}